<div class="container">
  <section>
    <div class="row justify-content-center p-3">
      <div class="col-xs-3 text-center">
        <h3>Posts Board</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="m-1 col-sm">
        <div class="col-sm">
          <app-filter-text (changed)="filterChanged($event)"></app-filter-text>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row justify-content-center p-3 ">
      <div class="col-xs-3 text-center">
        <h3></h3>
      </div>
    </div>
    <div class="mb-5 col-sm">
      <div *ngFor="let post of filteredPosts | slice:0:upperLimit; let i = index; " class="card post-container" [@slideUp]>
        <div class="card-body" (click)="showVariable = i">
          <h5 class="card-title">
            <b>{{post.title | initCaps}}</b>
          </h5>
          <p class="pull-right text-danger delete-post" (click)="deletePost(post); $event.stopPropagation();">delete</p>
          <p *ngIf="showVariable === i">{{post.body | initCaps}}</p>
        </div>
      </div>
    </div>
  </section>
</div>