<div>
  <div class="filter-wrapper">
    <label class="filter-label" for="filterText">Filter Posts: </label>
    <input type="text" id="filterText" class="filter-box" [(ngModel)]="filter" (keyup)="filterChanged($event)" />
  </div>
</div>