<header>
    <app-navbar></app-navbar>
</header>


<main>
    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>
</main>


<app-footer></app-footer>


<app-spinner></app-spinner>
<app-toast></app-toast>
<app-modal></app-modal>
