
.navbar{
    background-color: #1c2331!important; 
    /* box-shadow: 0 0 1px 1px #0e8166 ; */
    /* background: -webkit-linear-gradient(-45deg, rgba(33,37,41,1) 83%,rgba(96,108,136,1) 83%,rgba(63,76,107,1) 83%,rgba(63,76,107,1) 83%,rgba(63,76,107,1) 83%,rgba(63,76,107,1) 100%,rgba(35,38,40,1) 100%,rgba(35,38,40,1) 100%,rgba(63,76,107,1) 100%); */
}
.navbar-logo{
    color:white;
    font-size: 2em !important;
}


.login-btn{
    font-weight: bold;
    color: white ;
    background-color: transparent;
    background-image: none;
    border:1px solid white !important;
    padding: 0.50rem 1.60rem !important;
}

.login-btn:hover{
    color: #007bff !important;
    background-color: #fff;
    border-color: white;
}

.login-btn:focus{
    box-shadow: 0 0 0 0 #007bff;
}

#logo{
    height:50px;
    width:58px;
    cursor: pointer;
}

.logo-png{
    position: relative;
    background: url('/assets/prodyna-arrow-element.png') no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
}

.activeLog{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff !important;
    /* border:none !important; */
    /* border: inset 2px solid gray; */
}
.activeLog:hover{
    background-color: #007bff;
    border-color: #007bff !important;
    color:white !important;
}

