<nav class="navbar">

  <div class="d-flex flex-row">
    <div class="logo-png p2" [routerLink]="menuItems[0].link"></div>
    <div class="p2">
      <a class="navbar-logo" [routerLink]="menuItems[0].link">{{menuItems[0].caption}}</a>
    </div>
  </div>
  <ul class="navbar-nav">
    <li>
      <a [routerLink]="menuItems[1].link">
        <button class="btn login-btn" [class.activeLog]="currentRoute==menuItems[1].link">{{menuItems[1].caption}}</button>
      </a>
    </li>
  </ul>



</nav>