<div id="confirmationModal" class="modal-container">
  <div class="modal-body">
    <h5>{{title}}</h5>
    <p>{{message}}</p>
    <div class="">
      <button class="btn btn-danger" id="cancelButton">{{cancelText}}
      </button>
      <button class="btn btn-primary" id="okButton">{{okText}}
      </button>
    </div>
  </div>
</div>
