.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.modal-container > div {
  position: relative;
  width: 90%;
  max-width: 500px;
  min-height: 25px;
  margin: 10% auto;
  z-index: 99999;
}
.modal-body{
  background-color:white;
  padding: 15px;
}
