.alert{
    padding: .25rem 1.25rem;
}
.login-wrapper{
    margin-top:20vh;
    margin-bottom:20vh;
}
.input{
    margin-bottom:5px;
}

form{
    margin-top:20px;
}
.btn{
    margin-top:10px;
    margin-bottom:5px;
}

