<div class="container" [@slideRight]>
  <div class="row text-center justify-content-center">
    <div class="col-sm-4 login-wrapper">

      <h3>New Post</h3>
      <form [formGroup]="postForm" (ngSubmit)="submit()">

        <input type="text" id="title" class="form-control input" placeholder="Title" formControlName="title" required>

        <div *ngIf="formErrors.title" class="alert alert-danger">
          {{ formErrors.title }}
        </div>

        <textarea rows="4" cols="50" type="text" id="body" class="form-control input" placeholder="Content" formControlName="body"
          required></textarea>

        <div *ngIf="formErrors.body" class="alert alert-danger">
          {{ formErrors.body }}
        </div>

        <button type="submit" class="btn btn-md btn-primary btn-block btn-signin">ADD NEW POST</button>

      </form>

    </div>
  </div>
</div>