<footer id="footer" class="page-footer font-small unique-color-dark pt-0">

    <div class="container">
        <div class="row py-4 d-flex align-items-center">

            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 white-text">REFERENCE LIST</h6>
            </div>

            <div class="col-md-6 col-lg-7 text-center text-md-right social">
                <a class="fb-ic ml-0">
                    <i class="fa fa-facebook white-text mr-lg-4"> </i>
                </a>
                <a class="tw-ic">
                    <i class="fa fa-twitter white-text mr-lg-4"> </i>
                </a>
                <a class="gplus-ic">
                    <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                </a>
                <a class="li-ic">
                    <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                </a>
                <a class="ins-ic">
                    <i class="fa fa-instagram white-text mr-lg-4"> </i>
                </a>
            </div>

        </div>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">

    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Company name</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Products</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Product_One</a>
                </p>
                <p>
                    <a href="#!">Product_Two</a>
                </p>
                <p>
                    <a href="#!">Product_Three</a>
                </p>
                <p>
                    <a href="#!">Product_Four</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Belgrade, Serbia</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 381 62 234 5678</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 381 62 234 5679</p>
            </div>

        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="/">
            <strong>Prodyna Coding Challenge</strong>
        </a>
    </div>

</footer>