/* Footer */
section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #182847 !important;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #1c2331!important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.lower-bar{
    background-color: #2C9F85;
    height:10px;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer div.social li{
    padding: 3px 0;
}
#footer div.social a i {
    margin-right: 5px;
	font-size:20px;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}
#footer div.social a:hover i {
    color: #3b5998;
    text-shadow: 0px 0px 2px white;
	/* font-size:28px;
	margin-top:-10px; */
}
#footer div.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer div.social li a:hover{
	color:#eeeeee;
}
.quick-links{
    display: -webkit-inline-box;
}
.quick-links>li{
    padding-right:15px !important;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:500;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 500;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.deep-purple{
    background-color: #0f73deeb !important
}